# Backend dependencies
fastapi
uvicorn
requests
python-multipart
python-dotenv

# Document handling
python-docx

# Embedding
InstructorEmbedding
sentence-transformers
torch
tqdm
nltk
# Vector DB
qdrant-client

# Optional - if calling LLM APIs
openai
